
/* Propiedades Background Image*/
header{
	width: 100%;
	height: 400px; 
	background-color: black;
	border: 1px solid white;
	background-image: url(../imagenes/banner1.jpg);
	background-repeat: no-repeat;
	background-position: top 20% center;
	background-size: contain; /* Esta propiedad y valor hace forzar al contenedor y a la imagen para que ocupe el mayor espacio posible dentro de su contenedor que es HEADER.*/
	background-size: cover;
	background-attachment: fixed;