*{box-sizing: border-box;}


@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

body{
    width: 100%;
    height:auto;
    font-family: 'Big Shoulders Stencil Display', cursive;
    background-color: gray;
}


h1{
    color: yellow;
    text-align: center;
    margin: 20px;

}

#galeria{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

#galeria img{
    width: 425px;
    height: auto;
    max-width: 100%;
    opacity: 0.5;
    cursor: pointer;
    margin-bottom: 15px;
}

a{
    text-decoration: none;
}

#galeria img:hover{
    opacity: 1;

}

