@import url(style.css);


*{box-sizing: border-box;}

body{

    width: 100%;
    height: auto;
    font-family: alatsi, sans-serif;
    background-color: coral;
    margin: 0;
    position: relative;
}


/* ChatBots */
#btn{

    width: 80px;
    height: 70px;
    border-radius: 10px;
    position:absolute;
    background-image: url(img/icono1.png);
    position:absolute;
    bottom: 50px;
    right: 50px;
    position:fixed;
    /*box-shadow: 1px 5px 1px rgba(0, 0, 0, 0.3);  -- Sombra al DIV */

}

#btn img{
    width: 60px;
    height: 60px;
}

nav, main, footer{
    width: 100%;
}

nav{
    height: 50px;
    background-color: black;
    color: yellow;
    line-height: 30px;
    position: fixed;
}

p{
    text-align: center;
    padding-top: 5px;
    margin-top: 0;
}



main{
    height: 730px;
    background-color: gainsboro;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap-reverse;
    

}

footer{

    height: 350px;
    background-color: black;
    color:yellow;
}

.rojo{
    color: yellow;
}

h1{
    color: whitesmoke;
    text-align: center;
}


/* Propiedad Float*/
#izquierda{
    width: 22%;
    height: 510px;
    background-color: aquamarine;
    border-right: 20px solid gainsboro;
}

#principal{
    width: 48%;
    background-color: chartreuse;
    height: 510px;
    border-right:20px solid gainsboro;
    padding: 15px 50px;
}

#principal h1{
    margin-top: 0}


#principal p{ text-align: left; line-height: 25px;}

#derecha{
    width: 22%;
    background-color: darkmagenta;
    height: 510px;
    }


#banner{
    width: 1520px;
    background-color: cornflowerblue;
    height: 150px;
}

